.dash-layout {
  display: flex;
  gap: 40px;
  padding: 10px;
}

.profile-card {
  width: 280px;
  background: #181818;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  height: fit-content;
  box-shadow: 0 0 10px #0004;
  position: sticky;
  top: 20px;
}

.profile-avatar {
  width: 75px;
  height: 75px;
  background: #1db954;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.profile-name {
  margin-top: 12px;
  font-size: 22px;
  color: white;
}

.profile-email {
  color: #aaa;
  font-size: 14px;
}

.profile-joined {
  color: #777;
  margin-top: 6px;
  font-size: 13px;
}

.profile-links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-links button {
  background: #242424;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.profile-links button:hover {
  background: #333;
}

.dash-right {
  flex: 1;
}

.dash-title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.dash-cards {
  display: flex;
  gap: 20px;
}

.dash-card {
  background: #1f1f1f;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 0 0 6px #0004;
}

.dash-card h2 {
  font-size: 26px;
  color: #1db954;
  margin: 0;
}

.dash-card p {
  margin: 4px 0 0 0;
  color: #aaa;
}

.top-section {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}

.top-card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px #0004;
}

.top-card h3 {
  margin-bottom: 10px;
}

.top-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.top-name {
  margin-top: 10px;
  font-size: 16px;
}

.top-count {
  color: #aaa;
  font-size: 14px;
}

.recent-title {
  color: white;
  margin-top: 40px;
  font-size: 26px;
}

.recent-wrapper {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recent-card {
  background: #1f1f1f;
  padding: 12px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 0 6px #0004;
  width: calc(25% - 15px);
  height: 250px;
  display: flex;
  flex-direction: column;
}

.recent-img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.recent-name {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.recent-date {
  margin-top: 4px;
  color: #aaa;
  font-size: 13px;
}


.seller-buttons {
  margin-top: 35px;
  display: flex;
  gap: 15px;
}

.btn-upload {
  padding: 10px 18px;
  background: #1db954;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-logout {
  padding: 10px 18px;
  background: #ff4a4a;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

@media (max-width: 480px) {
  .dash-layout {
    display: flex;
    gap: 20px;
    padding: 5px;
  }

  .profile-card {
    width: 180px;
    background: #181818;
    padding: 14px;
    border-radius: 10px;
  }

  .profile-avatar {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }

  .profile-name {
    font-size: 12px;
  }

  .profile-email {
    margin-top: 5px;
    font-size: 10px;
  }

  .profile-joined {
    font-size: 10px;
  }

  .profile-links {
    gap: 10px;
  }

  .profile-links button {
    border-radius: 5px;
    padding: 6px;
    font-size: 10px;
  }

  .dash-title {
    padding-top: 10px;
    font-size: 16px;
  }

  .dash-cards {
    display: flex;
    gap: 10px;
  }

  .dash-card {
    padding: 10px;
    border-radius: 6px;
  }

  .dash-card h2 {
    font-size: 14px;
  }

  .dash-card p {
    font-size: 12px;
  }

  .top-section {
    gap: 12px;
  }

  .top-card {
    padding: 10px;
    border-radius: 8px;
  }

  .top-card h3 {
    font-size: 10px;
    margin-left: -11px;
  }

  .top-img {
    width: 100%;
    height: 80px;
    border-radius: 6px;
  }

  .top-name {
    font-size: 10px;
  }

  .top-count {
    font-size: 9px;
  }

  .recent-title {
    margin-top: 30px;
    font-size: 14px;
  }

  .recent-wrapper {
    margin-top: 10px;
    gap: 10px;
  }

  .recent-card {
    padding: 6px;
    border-radius: 7px;
    width: 47%;
    height: 150px;
  }

  .recent-img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }

  .recent-name {
    margin-top: 4px;
    font-size: 11px;
  }

  .recent-date { 
    font-size: 10px;
  }

  .seller-buttons {
    margin-top: 16px;
    gap: 8px;
  }

  .btn-upload {
    padding: 5px 10px;
    border-radius: 5px;
  }

  .btn-logout {
    padding: 5px 10px;
    border-radius: 4px;
  }
}