.global-player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: env(safe-area-inset-bottom); 
    height: 60px;
    background: #121212;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-top: 1px solid #333;
    z-index: 9999;
} 

.has-global-player {
    padding-bottom: 70px;
}

.gp-img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.gp-info {
    margin-left: 15px;
    flex: 1;
    color: white;
}

.gp-title {
    font-size: 16px;
    font-weight: bold;
}

.gp-artist {
    font-size: 14px;
    opacity: 0.7;
}

.gp-play {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

#root {
    min-height: 100%;
    overflow-y: auto !important;
}


@media (max-width: 480px) {

    .global-player {
        position: fixed;
        bottom: 0;
        margin-left: 0px;
        margin-right: 10px;
        width: 100%;
        height: 60px;
        background: #121212;
        display: flex;
        align-items: center;
        padding: 10px 16px;
        border-top: 1px solid #333;
        z-index: 9999;
    }

    .gp-title {
        font-size: 14px;
    }

    .gp-artist {
        font-size: 12px;
    }

    .gp-play {
        font-size: 26px;
    }
} 