.profile-page {
  padding: 40px;
  text-align: center;
}

.profile-box {
  background: #181818;
  padding: 25px;
  width: 420px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
}

.profile-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #222;
  border: 1px solid #333;
  color: white;
  border-radius: 6px;
}

.profile-box button {
  width: 100%;
  background: #1db954;
  padding: 12px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

@media (max-width: 480px) {

  .profile-page {
    padding: 20px;
  }

  .profile-page h1 {
    font-size: 12px;
  }

  .profile-box { 
    padding: 14px;
    width: 200px;
    border-radius: 8px;  
  }

  .profile-box input {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;   
    border-radius: 3px;
  }

  .profile-box button { 
    padding: 8px; 
    border-radius: 3px;
    margin-top: 10px;
    font-size: 10px;
  }
}