body {
    margin: 0;
    background-color: #121212;
    font-family: "Circular Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signup-container {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: white;
}

.signup-box {
    width: 300px;
    text-align: center;
}

.signup-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0;
}

.title,
.title2 {
    font-size: 43px;
    font-weight: bold;
    margin: 0;
}

.title2 {
    margin-bottom: 30px;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 15px;
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 12px;
    background-color: #1f1f1f;
    border: 1px solid #555;
    border-radius: 4px;
    color: white;
}

.input::placeholder {
    color: #777;
}

.phone-link {
    display: block;
    margin: 8px 0 18px 0;
    color: #1db954;
    font-size: 14px;
    text-decoration: none;
}

.next-btn {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background-color: #1db954;
    border: none;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.or {
    margin: 15px 0;
    font-size: 14px;
    color: #ccc;
    font-weight: bold;
}

.google-btns,
.apple-btns {
    width: 80%;
    height: 50px;
    padding: 12px;
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}

.google-btns img,
.apple-btns img {
    width: 25px;
    display: inline-block;
    height: 25px;
    margin-bottom: 25px;
}

.already-text {
    margin-top: 50px;
    font-size: 14px;
    color: gray;
}

.login-btn {
    width: 100%;
    padding: 12px;
    font-weight: 900;
    background-color: #121212;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.footer-note {
    font-size: 12px;
    color: #bbb;
    margin-top: 10px;
    line-height: 18px;
}

.footer-note a {
    color: #1db954;
    text-decoration: none;
}

.footer-note a:hover {
    text-decoration: underline;
}