.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalBox {
    background: #181818;
    width: 380px;
    max-height: 80vh;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
}

.modalBox::-webkit-scrollbar {
    width: 6px;
}

.modalBox::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.modalBox h3 {
    margin-bottom: 15px;
}

.playlistOption {
    padding: 10px;
    border-radius: 6px;
    background: #242424;
    margin-bottom: 8px;
    cursor: pointer;
}

.playlistOption:hover {
    background: #1db954;
    color: black;
}

.cancelBtn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}