.upload-name {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

.upload-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #111;
    padding: 25px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.upload-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.upload-label {
    color: #ccc;
    font-size: 14px;
}

.upload-input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #222;
    color: white;
}

.upload-select {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #222;
    color: white;
}

.upload-file {
    color: white;
}

.upload-audio-info {
    color: #aaa;
    font-size: 13px;
    margin-top: 5px;
}

.upload-audio-preview {
    margin-top: 15px;
}

.upload-audio-player {
    width: 100%;
    border-radius: 10px;
    background: #333;
    padding: 5px;
}

.upload-image-preview {
    margin-top: 10px;
    text-align: center;
}

.upload-preview-title {
    color: #ccc;
    margin-bottom: 10px;
}

.upload-preview-img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid #333;
}

.upload-btn {
    background-color: #1db954;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

.upload-btn-disabled {
    background-color: #555;
    cursor: not-allowed;
}

@media (max-width: 480px) {
    .upload-name {
        margin-bottom: 20px;
        font-size: 16px;
        margin-top: 10px;
    }

    .upload-top {
        padding: 12px;
        border-radius: 8px;
        width: 240px;
    }

    .upload-field {
        gap: 2px;
    }

    .upload-label {
        font-size: 12px;
    }

    .upload-input {
        padding: 8px;
        border-radius: 5px;
    }

    .upload-select {
        padding: 8px;
        border-radius: 5px;
    }

    .upload-file {
        color: white;
    }

    .upload-audio-info {
        font-size: 10px; 
    }

    .upload-audio-preview {
        margin-top: 10px; 
    }

    .upload-audio-player {
        border-radius: 10px; 
        width: 200px;
    }

    .upload-image-preview {
        margin-top: 10px;
        text-align: center;
    }

    .upload-preview-title {
        color: #ccc;
        margin-bottom: 10px;
    }

    .upload-preview-img {
        width: 120px;
        height: 120px;
        border-radius: 10px;  
        border: 1px solid #333;
    }

    .upload-btn { 
        padding: 8px; 
        border-radius: 15px; 
        margin-top: 5px;
        font-size: 12px;
    } 
}